<html>
  <head>
    <title>Camera Controls</title>
  </head>
  <body>
    <h1>Camera Controls</h1>
    <form action="/up" method="post">
      <input type="submit" value="Up">
    </form>
    <form action="/down" method="post">
      <input type="submit" value="Down">
    </form>
    <form action="/left" method="post">
      <input type="submit" value="Left">
    </form>
    <form action="/right" method="post">
      <input type="submit" value="Right">
    </form>
    <form action="/home" method="post">
      <input type="submit" value="Home">
    </form>
    <img src="data:image/png;base64,{{ image|safe }}"/>
  </body>
</html>